@font-face {
    font-family: 'Neue Machina Light';
    src: url('NeueMachina-Light.otf') format('opentype');

}

@font-face {
    font-family: 'Neue Machina Regular';
    src: url('NeueMachina-Regular.otf') format('opentype');

}

@font-face {
    font-family: 'Neue Machina Ultrabold';
    src: url('NeueMachina-Ultrabold.otf') format('opentype');

}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    /* Modified */
    align-items: flex-start;
    /* Modified */
    height: 100%;
}

.navbar {
    background-color: #004FFF;
    padding: 15px;
    height: 95vh;
    /* Adjusted */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Adjusted */
}

.navbar img {
    width: 35px;
    /* Adjust width as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-bottom: 60px;
    /* Adjust spacing as needed */
}

.navbar .icons {
    text-align: center;
}

.navbar .icons i {
    font-size: 30px;
    margin: 20px 0;
    cursor: pointer;
    display: block;
    color: #8DBEFF;
}


.logout-circle i {
    font-size: 30px;
    margin: 40px 0;
    cursor: pointer;
    display: block;
    color: #004FFF;
}

.navbar .icons i.active {
    color: white;
}

.navbar .icons i:hover {
    opacity: 0.8;
}


.logout-circle {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;

    margin-right: 8px;



}

.profile {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    margin-right: 30px;
    margin-top: 20px;

}

.profile img {
    width: 50px;
    height: 50px;
}

.profile2 {
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
}

.profile2 .fullname {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    display: inline;
}

.profile2 .username {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

.profile .ri-notification-fill {

    margin-left: 870px;
    font-size: 25px;
    margin-top: 10px;
}

.container .content {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    justify-content: flex-start;
    /* Align items to the start of the flex container */
    align-items: flex-start;
    /* Align items to the start of the cross axis */
    flex-direction: row;
}

.forum-content {
    max-height: calc(90vh - 100px);
    /* Adjusted height considering navbar height */
    margin-top: 20px;
    /* overflow-y: auto; Add scrollbar when content overflows */
}


h1 {
    font-size: 25px;
    color: blue;
    font-family: 'Neue Machina Ultrabold';
}

.create {
    top: -42px;
    margin-left: 932px;
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.sched {

    justify-content: left;
    margin-left: -1085px;
    margin-top: 20px;
    width: 1000px;

}

.today {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
}

.study-session {
    width: 600px;
    padding: 10px;
    background-color: #F2F6FF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    margin-right: 40px;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;

    margin-right: 20px;
    /* Adjusted */
    margin-bottom: 20px;
    flex: 1 0 auto;
    /* Added */

}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 7px;
}

.info {
    font-size: 12px;
    margin-bottom: 5px;
    display: flex;
    /* Added */
    align-items: center;
    /* Added */
}

.info i {
    margin-right: 5px;
    color: #686868;
}

.time {
    margin-right: 5px;
}


a {
    text-decoration: none;
    color: black;
}